.container-search {
    padding: 30px 60px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.input-area {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-radius: 8px;
    height: 50px;
    width: 500px;
    background: rgb(221, 221, 221);
}

input {
    margin-left: 10px;
    height: 100%;
    width: 90%;
    background: none;
    border: none;
    color: rgb(133, 133, 133);
}
button {
    height: 100%;
    width: 10%;
    border: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: rgb(221, 221, 221);
}